<app-pokenav [pokemon]="pokemon$?.name" [class]="type"></app-pokenav>
<div class="pokemon-main">
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td rowspan="2">
            <img src="{{ pokemon$?.sprites.front_default }}" >
            <p>{{ pokemon$?.id }}</p>
          </td>
          <td>{{ pokemon$?.species }}<span class="subtext">species</span></td>
          <td>{{ pokemon$?.height/10 }}m<span class="subtext">height</span></td>
          <td>{{ pokemon$?.weight/10 }}kg<span class="subtext">weight</span></td>
        </tr>
        <tr>
          <td colspan="3"><p class="description">{{ pokemon$?.description }}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pokemon-info">
  <tabset>
    <tab heading="stats" [customClass]=type>
      stats
    </tab>
    <tab heading="moves" [customClass]=type>
      moves
    </tab>
    <tab heading="locations" [customClass]=type>
      locations
    </tab>
  </tabset>
</div>
<div class="pokemon-evolution {{ type }}">
  <div class="heading">evolution</div>
    <div class="chain">
        <div>
          <span *ngFor="let stage of pokemon$?.evolution; let i = index" class="col-xs-4 stage">
            <span *ngIf="i != 0"><span *ngIf="stage.trigger_condition == 'level-up'">LVL</span><span class="trigger">{{ stage.trigger_val }}</span></span>
            <img src="{{ stage.sprites.front_default }}">
          </span>
        </div>
    </div>
</div>
