.pokemon-main 
    padding: 20px 10px 0 10px;
    color: #777;

    table
        text-transform: uppercase;

        td  
            line-height: 18px;
            text-align: center;
            border-top: none;

        td:not(:last-child)
            border-right: 1px solid  #eee;

        tr:first-of-type
            td
                padding-top: 25px;
                padding-bottom: 25px;

            td:first-child
                border-right: none;
                vertical-align: middle;

        .description 
            font-size: 15px;
            font-weight: bold;
            text-transform: none;
            text-align: left;

    
.subtext 
    color: #cdcdcd;
    line-height: 12px;
    font-size: 12px;
    display: block;
    font-weight: bold; 

.row 
    margin: 0;
    border-bottom: 2px solid #cfcfcf;